<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vargancys.learningassistant">

    <application
        android:allowBackup="true"
        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.common.MainActivity"/>

        <activity android:name=".module.common.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.common.GroupActivity" />
        <activity android:name=".module.home.activity.KnowShowDefaultActivity"/>
        <activity android:name=".module.home.activity.KnowShowFirstActivity"/>
        <activity android:name=".module.home.activity.KnowShowThirdActivity"/>
        <activity android:name=".module.home.activity.KnowShowFifthActivity"/>
        <activity android:name=".module.home.activity.KnowShowFourthActivity"/>
        <activity android:name=".module.home.activity.KnowShowSecondActivity"/>
        <activity android:name=".module.common.help.HelpContentActivity"/>
        <activity android:name=".module.home.activity.AddKnowActivity"/>
        <activity android:name=".module.common.help.HelpSummaryActivity"/>
        <activity android:name=".module.common.help.HelpAddActivity"/>
    </application>

</manifest>