<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vargancys.learningassistant">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.common.MainActivity"/>
        <activity android:name=".module.common.GroupActivity" />
        <activity android:name=".module.common.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.home.activity.show.KnowShowDefaultActivity"/>
        <activity android:name=".module.home.activity.show.KnowShowFirstActivity"/>
        <activity android:name=".module.home.activity.show.KnowShowThirdActivity"/>
        <activity android:name=".module.home.activity.show.KnowShowFifthActivity"/>
        <activity android:name=".module.home.activity.show.KnowShowFourthActivity"/>
        <activity android:name=".module.home.activity.show.KnowShowSecondActivity"/>
        <activity android:name=".module.common.help.HelpContentActivity"/>
        <activity android:name=".module.home.activity.AddKnowActivity"/>
        <activity android:name=".module.common.help.HelpSummaryActivity"/>
        <activity android:name=".module.common.help.HelpAddActivity"/>
        <activity android:name=".module.home.activity.insert.KnowInsertFirstActivity"/>
        <activity android:name=".module.home.activity.insert.KnowInsertSecondActivity"/>
        <activity android:name=".module.home.activity.insert.KnowInsertThirdActivity"/>
        <activity android:name=".module.home.activity.insert.KnowInsertFourthActivity"/>
        <activity android:name=".module.home.activity.insert.KnowInsertFifthActivity"/>
        <activity android:name=".module.home.activity.insert.KnowInsertDefaultActivity"/>
        <activity android:name=".module.common.help.HelpUpdateActivity"/>
        <activity android:name=".module.home.activity.ShowKnowDataActivity"/>
        <activity android:name=".module.home.activity.KnowHistoryDataActivity"/>
        <activity android:name=".module.home.activity.update.KnowUpdateDefaultActivity"/>
        <activity android:name=".module.home.activity.KnowSettingContentActivity"/>
        <activity android:name=".module.home.activity.history.HistoryShowDefaultActivity"/>
        <activity android:name=".module.home.activity.history.HistoryShowFirstActivity"/>
        <activity android:name=".module.home.activity.history.HistoryShowSecondActivity"/>
        <activity android:name=".module.home.activity.history.HistoryShowThirdActivity"/>
        <activity android:name=".module.home.activity.history.HistoryShowFourthActivity"/>
        <activity android:name=".module.home.activity.history.HistoryShowFifthActivity"/>
        <activity android:name=".module.home.activity.update.KnowUpdateFirstActivity"/>
        <activity android:name=".module.home.activity.update.KnowUpdateSecondActivity"/>
        <activity android:name=".module.home.activity.update.KnowUpdateThirdActivity"/>
        <activity android:name=".module.home.activity.update.KnowUpdateFourthActivity"/>
        <activity android:name=".module.home.activity.update.KnowUpdateFifthActivity"/>
        <activity android:name=".module.home.activity.KnowSearchActivity"/>
        <activity android:name=".module.overview.activity.OverViewInformationActivity"/>
        <activity android:name=".module.overview.activity.OverViewSearchActivity"/>
        <activity android:name=".module.overview.activity.OverViewAddActivity"/>
        <activity android:name=".module.game.activity.GameSelectActivity"/>
        <activity android:name=".module.game.activity.GameSignActivity"/>
        <activity android:name=".module.game.activity.GameSignAddActivity"/>
        <activity android:name=".module.game.activity.SubjectShowActivity"/>
        <activity android:name=".module.game.activity.SubjectAddActivity"/>
        <activity android:name=".module.game.activity.GameConfigActivity"/>
        <activity android:name=".module.game.activity.GameStartActivity"/>
        <activity android:name=".module.game.activity.GameAnswerSheetActivity"/>
        <activity android:name=".module.ladder.activity.LadderModeActivity"/>
        <activity android:name=".module.ladder.activity.LadderRankActivity"/>
        <activity android:name=".module.ladder.activity.LadderCommunicationActivity"/>
        <activity android:name=".module.ladder.activity.LadderHelpActivity"/>
        <activity android:name=".module.ladder.activity.LadderDifficultyActivity"/>
        <activity android:name=".module.ladder.activity.LadderResultActivity"/>
        <activity android:name=".module.ladder.activity.LadderCommentReplyActivity"/>
        <activity android:name=".module.ladder.activity.LadderHelpDetailsActivity"/>
        <activity android:name=".module.ladder.activity.LadderRankSettingActivity"/>
        <activity android:name=".module.mine.activity.KnowLedgeItemActivity"/>
        <activity android:name=".module.mine.activity.ChallengeItemActivity"/>
        <activity android:name=".module.mine.activity.ChallengeDetailsActivity"/>
        <activity android:name=".module.mine.activity.LevelDetailsActivity"/>
        <activity android:name=".module.mine.activity.ProblemItemActivity"/>
        <activity android:name=".module.mine.activity.ProblemDetailsActivity"/>
        <activity android:name=".module.mine.activity.SettingActivity"/>
        <activity android:name=".module.mine.activity.SettingMineActivity"/>
    </application>

</manifest>